@keyframes hoverImg {
    from {
        scale: 100%;
    }
    to {
        scale: 110%;
    }
}

.NewsItemWrapper {
    display: flex;
    flex-direction: row;
    padding: 6em 2em;
}
.NewsItemWrapper:hover {
    background-color: rgb(243, 243, 243);
}

.imgSection {
    background-color: gray;
    width: 25%;
    height: 12em;
    object-fit: cover;
    overflow: hidden;
}

.imgSection > img {
    width: 100%;
    height: 100%;
}

.imgSection > img:hover {
    animation-name: hoverImg;
    animation-duration: 1s;
}

.detailSection {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0em 0em 3em;
    line-height: 2em;
}

.detailSection > h5 {
    font-size: 1.5em;
    margin: 0em 0em 0.5em 0em;
}

.detailSection > h5, .detailSection > p {
    text-align: left;
}

.detailSection p {
    font-size: 1.2em;
    /* font-weight: 500; */
}

.detailSection > p:nth-child(3) {
    margin: 1em 0em 0em 0em;
    color: gray;
}