* {
  margin: 0;
}
@font-face {
  font-family: 'hanna';
  src: url('https://fonts.googleapis.com/earlyaccess/hanna.css');
}

/* Header */
.logo {
  width: 7.8em;
  height: 2em;
}

.navContainer {
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6em;
}

.navContainer > ul {
  width: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.emptyBox {
  width: 15%;
}

li {
  list-style-type: none;
}

a {
  color: black;
  letter-spacing: -0.1em;
  font-size: 0.95em;
  text-decoration: none;
}

a:active {
  font-weight: 600;
}


/* Banner */
.bannerWrapper {
  background-color: ;
  height: 90vh;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@keyframes toright {
  
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
}